:root {
  --status-bar-height: 24px;
}
/* flex弹性布局 */
#status-bar {
  /*  容器属性  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: var(--status-bar-height);
  background-color: rgb(43, 42, 51);
}
#status-bar > #status-text {
  font-style: italic;
  font-size: 12px;
}
#status-bar > toolbarbutton {
  height: var(--status-bar-height);
}
